<div class="main-div">
        <h1 style="text-align: center; color: whitesmoke; padding-top: 30px;">RESUMÉ</h1>
        <div class="resume-div">
        <img src="https://i.gyazo.com/61e467ff337a95ffc4d2529ec4bd03a4.png" height="800" class="img-div"/>
        </div>
        </div>
        
        
        <footer class="main-footer">
            <div class="footer-above">
              <div class="container">
                <div class="row">
                  <div class="footer-col col-md-4">
                    <h3>Location</h3>
                    <p> 98121
                      <br>Seattle, Washington  </p>
                  </div>
                  <div class="footer-col col-md-4">
                    <h3>Catch me here</h3>
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="https://www.facebook.com/aj.wietechaii?ref=bookmarks" class="icon-div">
                          <i class="fa fa-fw fa-facebook fa-2x"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="icon-div" href="#">
                          <i class="fa fa-fw fa-google-plus fa-2x"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="icon-div" href="https://twitter.com/____a____j____">
                          <i class="fa fa-fw fa-twitter fa-2x"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="icon-div" href="https://www.linkedin.com/in/ajwietechaii/">
                          <i class="fa fa-fw fa-linkedin fa-2x"></i>
                        </a>
                      </li>
        
                    </ul>
                  </div>
                  <div class="footer-col col-md-4">
                    <h3>Other</h3>
                    <p>Here's my <a href="">Email</a> and Catch me on twitch as well, chat with me about anything! You can find me on
                      <a href="">Buddha The Chef</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-below">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                    Copyright &copy; ajwietecha 2020
                  </div>
                </div>
              </div>
            </div>
          </footer>